.brand-color {
  background:#f57f17;
}

.group-0 {
  display:none;
}

.group-col {
  font-weight:bold;
  font-size:1.2em;
  text-align:left;
  font-style:italic;
  border-top:0;
  border-bottom: 2px solid orange;
}

#cash th, #ticket th {
  background:#eeeeee;
}
  
#cash .td-1,#ticket .td-1 {
  max-width:5em;
  width:5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

#pr .td-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
  max-width:10em;
  width:10em
}

#users .td-1 {
  max-width:12em;
  width:12em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

#cashSwitch label input[type=checkbox]:checked+.lever {
  background-color: navajowhite;
}

#cashSwitch label input[type=checkbox]:checked+.lever:after {
  background-color: orange ;
}

#ticketBox .return {
  width:100px;
}

.dropdown-item {
  color:green;
}
